<a href="https://colab.research.google.com/github/ImranMajeedMir/IPL-project-Task4/blob/main/TITANIC_SURVIVAL_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TITANIC SURVIVAL PREDICTION**
**Internship Task by Asterisc Technocrat PVT LTD**

In [ ]:
import numpy as np
import pandas as pd
# for visualization
import matplotlib.pyplot as plt
import seaborn as sns
# for interactiveness
from ipywidgets import interact
import seaborn as sb

Choose test dataset file

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (5).csv

Load test dataset

In [ ]:
df1 = pd.read_csv('test.csv')
df1.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S

In [ ]:
#Shape of the dataset
print(df1.shape)

(418, 11)

Choose train Dataset file

In [ ]:
from google.colab import files
uploaded2 = files.upload()

Saving train.csv to train (5).csv

Load train Dataset

In [ ]:
df2 = pd.read_csv('train.csv')
df2.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [ ]:
#Shape of the dataset
print(df2.shape)

(891, 12)

In [ ]:
concat_df3 = pd.concat([df1, df2], axis=0)
print(concat_df3)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
886          887       2                         Montvila, Rev. Juozas
887          888       1                  Graham, Miss. Margaret Edith
888          889       3      Johnston, Miss. Catherine Helen "Carrie"
889          890       1                         Behr, Mr. Karl Howell
890          891       3                           Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked  Survived
0      male  34.5      0      0      330911   7.8292   NaN        Q       NaN
1    female  47.0      1      0      363272   7.0000   NaN        S       NaN
2      male  62.0      0      0      240276   9.6875   NaN        Q       NaN
3      male  27.0      0      0      315154   8.6625   NaN        S       NaN
4    female  22.0      1      1     3101298  12.2875   NaN        S       NaN
..      ...   ...    ...    ...         ...      ...   ...      ...       ...
886    male  27.0      0      0      211536  13.0000   NaN        S       0.0
887  female  19.0      0      0      112053  30.0000   B42        S       1.0
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S       0.0
889    male  26.0      0      0      111369  30.0000  C148        C       1.0
890    male  32.0      0      0      370376   7.7500   NaN        Q       0.0

[1309 rows x 12 columns]

In [ ]:
print(concat_df3.shape)

(1309, 12)

In [ ]:
#Mapping text data to binary Value
z2 = set(concat_df3['Sex'])
concat_df3['Sex'] = concat_df3['Sex'].map({'female' : 0, 'male' : 1}).astype(int)
print(concat_df3.head)

<bound method NDFrame.head of      PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    1
1            893       3              Wilkes, Mrs. James (Ellen Needs)    0
2            894       2                     Myles, Mr. Thomas Francis    1
3            895       3                              Wirz, Mr. Albert    1
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0
..           ...     ...                                           ...  ...
886          887       2                         Montvila, Rev. Juozas    1
887          888       1                  Graham, Miss. Margaret Edith    0
888          889       3      Johnston, Miss. Catherine Helen "Carrie"    0
889          890       1                         Behr, Mr. Karl Howell    1
890          891       3                           Dooley, Mr. Patrick    1

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked  Survived
0    34.5      0      0      330911   7.8292   NaN        Q       NaN
1    47.0      1      0      363272   7.0000   NaN        S       NaN
2    62.0      0      0      240276   9.6875   NaN        Q       NaN
3    27.0      0      0      315154   8.6625   NaN        S       NaN
4    22.0      1      1     3101298  12.2875   NaN        S       NaN
..    ...    ...    ...         ...      ...   ...      ...       ...
886  27.0      0      0      211536  13.0000   NaN        S       0.0
887  19.0      0      0      112053  30.0000   B42        S       1.0
888   NaN      1      2  W./C. 6607  23.4500   NaN        S       0.0
889  26.0      0      0      111369  30.0000  C148        C       1.0
890  32.0      0      0      370376   7.7500   NaN        Q       0.0

[1309 rows x 12 columns]>

In [ ]:
# Assuming concat_df3 is your DataFrame and you want to remove 'Cabin' and 'Embarked' columns
columns_to_remove = ['Cabin', 'Embarked']

# Check if the columns exist before dropping
columns_exist = all(col in concat_df3.columns for col in columns_to_remove)

if columns_exist:
    concat_df3 = concat_df3.drop(columns=columns_to_remove, axis=1)
else:
    print("Columns to remove not found in DataFrame.")

# Print the modified DataFrame
print(concat_df3)

     PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    1
1            893       3              Wilkes, Mrs. James (Ellen Needs)    0
2            894       2                     Myles, Mr. Thomas Francis    1
3            895       3                              Wirz, Mr. Albert    1
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0
..           ...     ...                                           ...  ...
886          887       2                         Montvila, Rev. Juozas    1
887          888       1                  Graham, Miss. Margaret Edith    0
888          889       3      Johnston, Miss. Catherine Helen "Carrie"    0
889          890       1                         Behr, Mr. Karl Howell    1
890          891       3                           Dooley, Mr. Patrick    1

      Age  SibSp  Parch      Ticket     Fare  Survived
0    34.5      0      0      330911   7.8292       NaN
1    47.0      1      0      363272   7.0000       NaN
2    62.0      0      0      240276   9.6875       NaN
3    27.0      0      0      315154   8.6625       NaN
4    22.0      1      1     3101298  12.2875       NaN
..    ...    ...    ...         ...      ...       ...
886  27.0      0      0      211536  13.0000       0.0
887  19.0      0      0      112053  30.0000       1.0
888   NaN      1      2  W./C. 6607  23.4500       0.0
889  26.0      0      0      111369  30.0000       1.0
890  32.0      0      0      370376   7.7500       0.0

[1309 rows x 10 columns]

In [ ]:

x = concat_df3.drop(['Survived', 'Name', 'Ticket'], axis=1)

x

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            892       3    1  34.5      0      0   7.8292
1            893       3    0  47.0      1      0   7.0000
2            894       2    1  62.0      0      0   9.6875
3            895       3    1  27.0      0      0   8.6625
4            896       3    0  22.0      1      1  12.2875
..           ...     ...  ...   ...    ...    ...      ...
886          887       2    1  27.0      0      0  13.0000
887          888       1    0  19.0      0      0  30.0000
888          889       3    0   NaN      1      2  23.4500
889          890       1    1  26.0      0      0  30.0000
890          891       3    1  32.0      0      0   7.7500

[1309 rows x 7 columns]

In [ ]:
y = concat_df3.Survived
y

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
886    0.0
887    1.0
888    0.0
889    1.0
890    0.0
Name: Survived, Length: 1309, dtype: float64

In [ ]:
y = concat_df3['Survived'].fillna(1.0)
y

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
886    0.0
887    1.0
888    0.0
889    1.0
890    0.0
Name: Survived, Length: 1309, dtype: float64

In [ ]:
# Finding and removing Null values
x.columns[x.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [ ]:
x.Age = x.Age.fillna(x.Age.mean())
x.Fare = x.Fare.fillna(x.Fare.mean())

In [ ]:
# Finding and removing Null values
x.columns[x.isna().any()]

Index([], dtype='object')

In [ ]:
print(concat_df3.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Survived       float64
dtype: object

In [ ]:
print(concat_df3.columns)

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Survived'],
      dtype='object')

Splitting dataset into train and test

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [ ]:
# Training
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [ ]:
x.tail(3)

     PassengerId  Pclass  Sex        Age  SibSp  Parch   Fare
888          889       3    0  29.881138      1      2  23.45
889          890       1    1  26.000000      0      0  30.00
890          891       3    1  32.000000      0      0   7.75

In [ ]:
concat_df3.tail(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Survived
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.45,0.0
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.00,1.0
890,891,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.75,0.0

In [ ]:
# predicting whether person survived or not
PassengerId = int(input("Enter pessengerID:"))
Pclass = int(input("Enter person's Pclass number"))
Sex = int(input("Enter person's gender 0-female 1-male(0 or 1):"))
Age = float(input("Enter person's age:"))
SibSp = int(input("Enter sibsp:"))
Parch = int(input("Enter parch"))
Fare = float(input("Enter person's fare:"))
person = [[PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare]]
result = model.predict(person)
print(result)

if result == 1:
  print("Person might be survived")
else:
  print("person might not be survived")

Enter pessengerID:890
Enter person's Pclass number1
Enter person's gender 0-female 1-male(0 or 1):1
Enter person's age:26.0
Enter sibsp:0
Enter parch0
Enter person's fare:30.00
[1.]
Person might be survived

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [ ]:
#prediction for all test data
y_pred = model.predict(x_test)
print(np.column_stack((y_pred,y_test)))

[[0. 0.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 1.]
 [1. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [0. 0.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [1. 0.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 0.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [1. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]]

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model: {0}%" .format(accuracy_score(y_test, y_pred)*100))

Accuracy of the Model: 83.96946564885496%